.Ga {
  width: 1000px;
  text-align: justify;

}

.Ga1 {
width: 1000px;
text-align: justify

}

.Ga2 {
  width: 700px;
  text-align: justify;
  text-align:center;

}

.Ga3 {
  width: 1000px;
  text-align: justify;

}

.Ga4 {
  width: 1000px;
  text-align: justify;

}

.Ga5 {
  width: 1000px;
  text-align: justify;

}

.Ga6 {
  width: 1000px;
  text-align: justify;

}

.sui {
  margin-left: 80px;
}

.car {
  margin-top: -50px;

}
   