.si {
  background-color:#F5CFCF ;
  text-align: center;
}

.input{
  margin-top: 40px;
  width: 550px;
  
}

.content{
 margin-left: 40rem; 
 margin-top: -350px;
 
}

.con {
padding-top: -50px;
  
}

.tain {
margin-top: -410px;

}

.but {
  margin-left: 150px;
}

.mb-3 {
  width: 410px;
}

.dh {
  margin-left: 90px;
}
.cr {
  width:60px;
  height: 30px;
  
}