.App {
  
  background-color:4D3F3F ;
}

.e-flex {

  margin-left: 247px;
  
}

.d-flex {
margin-top:420px;
  width: 500px;
}
.h1 {
  text-align: center;
  
}

.homepage {
  width: 100px;
  margin-top: 200px;
  
  }